@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
a {
    text-decoration: none;
    color: inherit;
}
.header a {
    color: #000 !important;
    text-decoration: none !important;
}

.header i {
    color: #000 !important;
}
